<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Trekking App{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="nav-brand">Welcome Admin !!</div>
        <div class="nav-links">
            <a href="{{ url_for('admin_home') }}">Home</a>
            <a href="{{ url_for('admin_staff') }}">Staff Management</a>
            <a href="{{ url_for('admin_user') }}">User Management</a>
            <a href="{{ url_for('admin_trek') }}">Manage Treks</a>
            <a href="#">Bookings</a>
            <a href="{{ url_for('logout') }}">Logout</a>
        </div>
    </nav>

    <main class="content-container">
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>